---
import { getCollection } from 'astro:content';
import Layout from '../components/layout.astro';

const blog = await getCollection('blog');
---

<Layout>
	<h1>Automations for MarisaMorby.com</h1>
	<section class="blog">
		{
			blog.map((entry) => (
				<article class="blog-preview">
					<a href={`/blog/${entry.id}`}>
						<img src={entry.data.share_image} alt={entry.data.title} />
					</a>
					<h2>
						<a href={`/blog/${entry.id}`}>{entry.data.title}</a>
					</h2>
					<p>{entry.data.share_description}</p>
					<p>
						<a href={`/blog/${entry.id}`}>read &rarr;</a>
					</p>
				</article>
			))
		}
	</section>
</Layout>

<style>
	.blog {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, minmax(0, 300px));
	}

	.blog-preview {
		img {
			block-size: auto;
			inline-size: 100%;
		}
	}
</style>
